{{ form_start(form) }}
<div class="form-group">
	{{ form_widget(form) }}
	<div class="d-flex justify-content-between my-3 w-100">
		<div class="btn-group" role="group">
			<a class="btn btn-outline-secondary" href="{{ path('cam') }}">Retour à la liste</a>
			{% if customer.id is not null %}
				<a class="btn btn-outline-primary" href="{{ path('app_customers_show', {'id': customer.id}) }}">Retour</a>
			{% endif %}
			<button class="btn btn-group btn-success">{{ button_label|default('Enregistrer') }}</button>
		</div>
	</div>
</div>
{{ form_end(form) }}
