{# form to make a new activity #}
{% macro newForm(form) %}
	{{ form_row(form.name) }}
	{{ form_row(form.description) }}
	<div class="row d-flex justify-content-between mt-1">
		<div class="col-4 d-flex justify-content-between text-nowrap">
				{{ form_label(form.reminder) }}{{ form_widget(form.reminder, { 'id': 'reminder-' ~ form.vars.id }) }}
				<a class="input-button" title="toggle" data-toggle><i class="icon-calendar"></i></a>
		</div>
		<div class="col-4 d-flex justify-content-between text-nowrap">
				{{ form_label(form.dueDate) }}{{ form_widget(form.dueDate, { 'id': 'dueDate-' ~ form.vars.id }) }}
				<a class="input-button" title="toggle" data-toggle><i class="icon-calendar"></i></a>
		</div>
		<div class="new-active" style="display: none;">
			{{ form_row(form.isActive, { 'checked': 'checked' }) }}
		</div>
		<div class="col-2"><div class="due-date-ghost"></div></div>
	</div>
{% endmacro newForm %}

{# form for existing activities #}
{% macro existForm(form) %}
	<div class="col-md-12 p-1">
		{{ form_row(form.name)}}
		{{ form_row(form.description)}}
		<div id="{{ form.vars.name }}" class="info-row row d-flex justify-content-between mt-1">
			<div class="col-4 d-flex justify-content-between text-nowrap">
				{{ form_label(form.reminder) }}{{ form_widget(form.reminder, { 'id': 'reminder-' ~ form.vars.id }) }}
				<a class="input-button" title="toggle" data-toggle><i class="icon-calendar"></i></a>
			</div>
			<div class="col-4 d-flex justify-content-between text-nowrap">
				{{ form_label(form.dueDate) }}{{ form_widget(form.dueDate, { 'id': 'dueDate-' ~ form.vars.id }) }}
				<a class="input-button" title="toggle" data-toggle><i class="icon-calendar"></i></a>
			</div>
			<div class="col-2 d-flex justify-content-between text-nowrap">
				{{ form_row(form.isActive)}}
			</div>
		</div>
	</div>
{% endmacro existForm %}
