{% extends 'logged_in_base.html.twig' %}

{% block title %}Bienvenue dans le lobby!
{% endblock %}

{% block content %}
	<div class="lobby-bg lobby">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 col-12">
					<div class="lobby-content">
						<h1>Bienvenue sur le compte de
							{{ user.company }}!
						</h1>
						<div class="lobby-container">
							<h3>A quel service voulez vous accéder ?</h3>
							<div class="row lobby-content ms-5">
								<div class="d-flex justify-content-start mt-5">
									<div id="icon" class="p-2 col-2">
										<a href="{{ path('ezreview') }}">
											<h2>
												<i class="fa-solid fa-ranking-star mx-2"></i>
											</h2>
										</a>
									</div>
									<div id="text" class="pt-2 col-10">
										<h6>
											<a href="{{ path('ezreview') }}">
												Easy review</a>
										</h6>
										<p>Une application pour faciliter les commentaires positifs sur Google</p>
									</div>
								</div>
								<div class="d-flex justify-content-start">
									<div id="icon" class="p-2 col-2">
										<a href="{{ path('app_activities') }}">
											<h2>
												<i class="fa-solid fa-file-contract mx-2"></i>
											</h2>
										</a>
									</div>
									<div id="text" class="pt-2 col-10">
										<h6>
											<a href="{{ path('app_activities') }}">Buisness Activity Managment</a>
										</h6>
										<p>Une application pour suivre l'intercation avec vos clients</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
