{% extends 'base.html.twig' %}

{% block title %}Activities index
{% endblock %}

{% block content %}
	<h1>Activities index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Description</th>
				<th>DueDate</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for activity in activities %}
				<tr>
					<td>{{ activity.id }}</td>
					<td>{{ activity.description }}</td>
					<td>{{ activity.dueDate ? activity.dueDate|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_activities_show', {'id': activity.id}) }}">show</a>
						<a href="{{ path('app_activities_edit', {'id': activity.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-outline-secondary" href="{{ path('cam') }}">Retour à la liste</a>
{% endblock %}
