{% apply inline_css %}
<style>
	.container {
		background-color: #F3F3F3;
		font-family: "Spartan", sans-serif;
		font-weight: normal;
		font-style: normal;
		color: #7A7A7A;
		overflow-x: hidden;
		font-size: 14px;
	}

	@media(min-width: 992px) {
		.col-lg-12 {
			flex: 0 0 auto;
			width: 100%;
		}
	}

	.row {
		--bs-gutter-x: 1.5px;
		--bs-gutter-y: 0;
		display: flex;
		flex-wrap: wrap;
		margin-top: calc(var(--bs-gutter-y) * -1);
		margin-right: calc(var(--bs-gutter-x) / -2);
		margin-left: calc(var(--bs-gutter-x) / -2);
	}

	.form-container {
		margin: 220px auto;
		width: 80%;
	}

	form > label {
		margin: 10px;
	}

	.btn-gd {
		display: block;
		color: #fff;
		background-color: #2E924F;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		cursor: pointer;
		border-radius: 5px;
		font-size: 1rem;
		width: 40%;
		padding: 5px;
		margin: 0 10px;
	}

	.btn-bd {
		display: block;
		color: #000;
		background-color: #F9B338;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		cursor: pointer;
		border-radius: 5px;
		font-size: 1rem;
		width: 40%;
		padding: 5px;
		margin: 0 10px;
	}

	.message {
		margin: 20px 0 5px;
		text-align: justify;
	}

	.bouton-container {
		align-items: center;
		display: flex;
		justify-content: space-around;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-lg-12 co-12">
			<div class="form-container">
				<div class="row">
					<div class="col-md-12">
						<h2>{{ subject }}</h2>
						<div class="message">Bonjour.<br>
							<p>
								Vous avez récemment été accueillis dans notre établissement :
								<strong>"{{structure}}"</strong>.
							</p>
							<p>
								Soucieux de l'amélioration continue de nos prestations et afin de répondre au mieux à vos attentes, nous avons mis en place cette enquête de satisfaction.
							</p>
							<p>
								Toutes les données recueillies restent confidentielles et seront traitées de manière anonyme.
							</p>
							<h3>
								Qu'avez vous pensé de la qualité de nos services ? :
							</h3>
						</div>
						<div class="bouton-container"><br>
							{% set returnUrl = app.request.getSchemeAndHttpHost() ~ "/badreview/" ~ structureId %}
							<a
								href="{{returnUrl}}" class="btn-bd">
								{# <a href="{{ app.request.getSchemeAndHttpHost() }}{{ badRevUrl }}" class="btn-bd"> #}
								plutot mécontent</a>
							<a href="{{ googleUrl }}" class="btn-gd">
								plutot satisfait</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endapply %}
