{% extends 'ezreview_base.html.twig' %}

{% block title %}Liste des comptes
{% endblock %}

{% block content %}
	<h2>Liste des comptes</h2>
	<p>Ici, vous pouvez changer les adresses mail des differents comptes administrés</p>
	<div class="bg-light rounded overflow-hidden my-3 p-2">
		<ul class="structures">
			{% for user in users %}
				<li>
					<div class="d-flex justify-content-between align-items-center w-100">
						<strong class="w-50">-{{ user.email }}</strong>
						<a href="{{ path('account_edit', {id: user.id}) }}" class="btn btn-sm btn-secondary m-2">Modifier</a>
						{# <a href="{{ path('account_delete', {id: user.id}) }}" class="btn btn-sm btn-danger m-2">&times; Supprimer</a> #}

						<a href="#" onclick="event.preventDefault(); confirm('Etes vous sure ?') && document.getElementById('js-user-delete-form').submit();" class="btn btn-sm btn-danger m-2">&times; Supprimer</a>

						<form id="js-user-delete-form" action="{{ path('account_delete', {id: user.id}) }}" method="post" style="display: none;">
							<input type="hidden" name="csrf_token" value="{{ csrf_token('user_deletion_' ~ user.id) }}">
							<input type="hidden" name="_method" value="POST">
						</form>

					</div>
				</li>
			{% endfor %}
		</ul>
	{% endblock %}
