{% extends 'logged_in_base.html.twig' %}

{% block title %}Hello AccountController!
{% endblock %}

{% block content %}
	<h3>Créer un compte</h3>
	<a href="{{ path('accounts_index') }}" class="btn btn-secondary btn w-3">
		<i class="fa-solid fa-angles-left"></i>
		Retour</a>
	{{ form_start(form, {"method": "POST"}) }}
	<div class="row">
		{{ form_row(form.email) }}
	</div>
	<div class="col-md-12 mt-3">
		{{ form_widget(form._token) }}
		{{ form_end(form, {'render_rest': false}) }}
	</div>
	<button type="submit" class="btn btn-primary btn-lg btn-block">
		Enregistrer les modifications
	</button>
{% endblock %}
