{% extends 'logged_in_base.html.twig' %}

{% block title %}Compte de
	{{ user.company}}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{# <link rel="stylesheet" href="http://localhost:8080/wip.scss"> #}
{% endblock stylesheets %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('upload') }}
	<script src="http://localhost:8080/wip.js"></script>
{% endblock javascripts %}

{% block content %}
	<h2>Compte de
		{{ user.company}}</h2>
	<div class="my-3">
		<div class="bg-light rounded overflow-hidden my-3 p-2">
			<div class="my-4">
				<h5>Société :</h5>
				<strong>{{ user.company}}</strong>
			</div>
		</div>
		<div class="bg-light rounded overflow-hidden my-3 p-2">
			<div class="my-4">
				<h5>e-mail :</h5>
				<small>(login et envois/réception de l'enquete)</small><br>
				<strong>{{user.email}}</strong>
			</div>
		</div>
		<div class="bg-light rounded overflow-hidden my-3 p-2">
			<div class="my-4">
				<h5>Etablissements:</h5>
				<ul class="structures">
					{% for structure in user.structures %}
						<li>
							<hr>
							<div class="d-flex flex-wrap justify-content-around align-items-center m-1 ml-4">
								<div class="col-xl-6 col-sm-12 my-3">
									<strong>-
										{{ structure.name }}</strong>
								</div>
								<div class="d-flex flex-nowrap justify-content-around col-xl-6 col-sm-12 my-3">
									<a href="{{ path('enquete', {'id': structure.id}) }}" class="btn btn-secondary btn-sm w-3 mx-1">Envoyer mail</a>

									<a href="#" type="button" data-structureid="{{structure.id}}" class="upload-btn btn btn-secondary btn-sm w-3 mx-1">charger un fichier</a>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="d-flex justify-content-around text-center">
			<a href="{{ path('user_edit') }}" class="btn btn-primary btn  w-3">Modifier votre compte</a>
		</div>

		<div class="upload-container d-flex justify-content-around">
			<div class="upload-popup">
				<button class="close-popup">x</button>
				{{ form_start(form, {"method": "POST"}) }}
				<h6 id="form-title">Selectionnez un fichier csv</h6>
				{{ form_row(form.csvFile) }}
				<button type="submit" class="submit-upload">Traiter</button>
				{{ form_widget(form._token) }}
				{{ form_end(form, {'render_rest': false}) }}
			</div>
		</div>
	{% endblock %}
