{% extends 'ezreview_base.html.twig' %}

{% block title %}Retour de l'enquete de satisfaction.
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock javascripts %}

{% block content %}
	<h3>Faites part de votre mécontentement :</h3>
	{{ form_start(form) }}
	<div class="row mt-3">
		<div class="col-md-12">
			{{ form_row(form.email) }}
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-md-8 ">
			Indiquez la date etl'heure de votre rendez vous :
		</div>
		<div class="col-md-4 ">
			{{ form_row(form.date_rdv) }}
		</div>
	</div>
	<div class="row mt-5">
		<div class="dropdown col-md-9">
			Sur une échelle de 1 à 10, (1 étant fortement insatisfait à 10 : extrêmement satisfait), comment évaluez-vous nos services:
		</div>
		<div class="dropdown col-md-3">
			{{ form_row(form.note) }}
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-md-12">
			{{ form_row(form.message) }}
		</div>
		{{ form_end(form) }}
	{% endblock %}
