{% extends 'raw.html.twig' %}

{% block title %}Survey.
{% endblock %}

{% block content %}
	<div class="qr-container">

		<div class="banner-qr-container">
			<img src="{{ (structure.imageName ? vich_uploader_asset(structure) : asset('build/images/placeholder.jpg')) | imagine_filter('company_image_banner') }}" alt="{{ structure.name }}" alt="{{structure}}">
		</div>
		<div class="content">
			<div class="qr-title">
				<h1>Notez nous !!</h1>
			</div>
			<div class="qr-text">
				<p>Faite nous savoir votre sentiment sur votre visite à
					{{structure}}</p>
			</div>
			<div class="image-qr-container">
				<img src="{{ myqrcode }}"/>
			</div>
		</div>
	</div>
{% endblock %}
