{% extends 'ezreview_base.html.twig' %}

{% block title %}Easy Review cible.
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock javascripts %}

{% block content %}
	<h3>Envoyer un mail à :</h3>
	<a href="{{ path('account') }}" class="btn btn-secondary btn w-3">
		<i class="fa-solid fa-angles-left"></i>
		Retour</a>
	{{ form_start(form) }}
	<div class="row mt-3">
		<div
			class="col-md-12">
			{# {{ dump() }} #}
			{{ form_row(form.email) }}
			{{ form_rest(form) }}
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}
