{% extends 'logged_in_base.html.twig' %}

{% block title %}EasyReview mail ciblé.
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock javascripts %}

{% block content %}

	<div class="row de-flex justify-content-center mt-5">
		<div class="er-row col-12 col-sm-8 col-lg-5 rounded-lg mt-5 p-5">
			<h3>Envoyer un mail à :</h3>
			{{ form_start(form) }}
			{{ form_row(form.email) }}
			{{ form_rest(form) }}
			<div class="col-12 d-flex justify-content-around">
				<a href="{{ path('ezreview') }}" class="btn btn-outline-secondary btn-sm my-5">
					<i class="fa-solid fa-angles-left"></i>
					Retour</a>
				<button type="submit" class="btn btn-primary btn-sm my-5">
					Envoyer
				</button>
			</div>
		</div>
	</div>

	{{ form_end(form) }}
{% endblock %}
