{% extends 'ezreview_base.html.twig' %}

{% block title %}EasyReview mail ciblé.
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock javascripts %}

{% block content %}

	<div class="col-12 col-md-8 col-lg-6">
		<h3>Envoyer un mail à :</h3>
		{{ form_start(form) }}
		{{ form_row(form.email) }}
		{{ form_rest(form) }}
		<div class="col-12 d-flex justify-content-around">
			<a href="{{ path('account') }}" class="btn btn-outline-secondary btn-sm my-5">
				<i class="fa-solid fa-angles-left"></i>
				Retour</a>
			<button type="submit" class="btn btn-primary btn-sm my-5">
				Envoyer
			</button>
		</div>
	</div>

	{{ form_end(form) }}
{% endblock %}
