{{ form_start(form) }}
<div class="form-group mt-5">
	<div class="row mt-2">
		<div class="col-6">
{{ form_label(form.name) }}{{ form_widget(form.name) }}
		</div>
		<div class="col-6">
			{{ form_label(form.phone) }}{{ form_widget(form.phone) }}
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-6">
			{{ form_label(form.category) }}{{ form_widget(form.category) }}
		</div>
		<div class="col-6">
			{{ form_label(form.email) }}{{ form_widget(form.email) }}
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-6">
			{{ form_label(form.civ) }}{{ form_widget(form.civ) }}
		</div>
		<div class="col-6">
			{{ form_label(form.address1) }}{{ form_widget(form.address1) }}
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-6">
			{{ form_label(form.contactFirstName) }}{{ form_widget(form.contactFirstName) }}
		</div>
		<div class="col-6">
			{{ form_label(form.address2) }}{{ form_widget(form.address2) }}
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-6">
			{{ form_label(form.contactLastName) }}{{ form_widget(form.contactLastName) }}
		</div>
		<div class="col-6">
			{{ form_label(form.cp) }}{{ form_widget(form.cp) }}
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-6">
		{{ form_label(form.mobile) }}{{ form_widget(form.mobile) }}
		</div>
		<div class="col-6">
			{{ form_label(form.city) }}{{ form_widget(form.city) }}
		</div>
	</div>
	<div class="d-flex justify-content-center my-3 w-100">
		<div class="btn-group" role="group">
			<a class="btn btn-outline-primary" href="{{ path('app_companies') }}">
				<i class="fa-solid fa-address-book me-1"></i>
				Sociétés</a>
			{% if company.id is not null %}
				<a class="btn btn-outline-secondary" href="{{ path('app_companies_show', {'id': company.id}) }}">
					<i class="fa-solid fa-backward me-1"></i>Retour</a>
			{% endif %}
			<button type="submit" class="btn btn-warning">
				<i class="fa-solid fa-file-arrow-down me-1"></i>
				Enregistrer
			</button>

		</div>
	</div>
</div>
{{ form_end(form) }}
