{% extends 'bam_base.html.twig' %}

{% block title %}Liste des sociétés
{% endblock %}

{% block content %}

	<div class="d-flex justify-content-between m-1">
		<div class="mt-2">
			{% if  app.request.query.get('name') %}
				<h1>Sociétés dont le nom contient : "{{ app.request.query.get('name') }}"</h1>
			{% elseif  app.request.query.get('category') %}
				<h1>Sociétés du type : "{{ app.request.query.get('category') }}"</h1>
			{% else %}
				<h1>Liste des sociétés</h1>
			{% endif %}
		</div>
		<div>
			<a class="btn btn-success" href="{{ path('app_companies_new') }}" title="Création d'une société">
				<i class="fa-solid fa-user-plus"></i>
			</a>
		</div>
	</div>
	<div class="search-row row g-0 d-flex justify-content-between my-4">
		<div class="col-lg-6 col-12">
			<form action="{{ path('app_companies') }}" method="GET">
				<div class="input-group">
					<input type="text" class="form-control" name="name" placeholder="Rech. par nom">
					<select id="category" name="category" class="form-select">
						<option value="">ou categories</option>
						{% for category in categories %}
							<option value="{{ category }}">{{ category }}</option>
						{% endfor %}
					</select>
					<button type="submit" class="btn btn-outline-dark">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</div>
			</form>
		</div>
		<div class="col-6"></div>
	</div>


	<div class="head-row d-flex justify-content-between">
		<div class="col-lg-3 col-5">
			<a href="{{ path('app_companies', { 'sort_by': 'name', 'sort_order': (sort_by == 'name' and sort_order == 'desc') ? 'asc' : 'desc' }) }}">
				Société
				{% if sort_by == 'name' %}
					{% if sort_order == 'desc' %}
						<i class="fas fa-sort-up"></i>
					{% else %}
						<i class="fas fa-sort-down"></i>
					{% endif %}
				{% else %}
					<i class="fas fa-sort"></i>
				{% endif %}
			</a>
		</div>
		<div class="d-none d-xxl-block col-2">Téléphone</div>
		<div class="col-lg-2 col-4">Contact</div>
		<div class=" d-none d-lg-block d-md-none col-2">Portable</div>
		<div class="col-xxl-2 col-1 text-md-start text-center">
			<span class="d-xxl-none">
				<i class="fa-solid fa-at d-xxl-none"></i>
			</span>
			<span class="d-none d-xxl-block">Email</span>
		</div>
		<div class="col-1 text-center">
			<a href="{{ path('app_companies', { 'sort_by': 'activitiesCount', 'sort_order': (sort_by == 'activitiesCount' and sort_order == 'desc') ? 'asc' : 'desc' }) }}" class="sort-control text-nowrap">
				<span class="d-xxl-none">
					<i class="fa-solid fa-file-contract"></i>
				</span>
				<span class="d-none d-xxl-block">Activités</span>
				<span class="sort-icon">
					<i class="fas fa-sort"></i>
				</span>
			</a>
		</div>
	</div>


	{% for item in pagination %}
		{# {{ dump(sortedCompany) }} #}
		{% set company = item.company %}
		{% set activitiesCount = item.activitiesCount %}
		<div class="row g-0 list-row d-flex justify-content-between align-items-center">
			{# Name #}
			<div class="col-lg-3 col-5">
				<small>{{ item.company.category }}</small>
				<br>
				<a href="{{ path('app_companies_show', {'id': item.company.id}) }}">
					<i class="fa-solid fa-right-to-bracket me-2"></i>
					{{ item.company.name }}</a>
			</div>

			{# telephone #}
			<div class="d-xxl-block d-none col-2">{{ item.company.phone }}</div>

			{# contact #}
			<div class="col-lg-2 col-5 d-lg-block d-none">
				{{ item.company.contactFirstName }}
				{{ item.company.contactLastName }}
			</div>

			<div class="col-lg-3 col-4 d-lg-none">
				{% if item.company.mobile %}
					<a href="tel:{{ item.company.mobile }}">
						<i class="fa-solid fa-phone me-1"></i>
						{{ item.company.contactFirstName }}
						{{ item.company.contactLastName }}
					</a>
				{% else %}
					<div class="col-lg-3 col-5 d-lg-none">
						{{ item.company.contactFirstName }}
						{{ item.company.contactLastName }}
					</div>
				{% endif %}
			</div>

			{# mobile #}
			<div class="d-none d-lg-block d-md-none col-2">{{ item.company.mobile }}</div>

			{# email #}
			<div class="col-xxl-2 col-1">
				{% if item.company.email %}
					<a href="mailto:{{ item.company.email }}">
						<span class="d-xxl-none">
							<i class="fa-solid fa-envelope d-xxl-none"></i>
						</span>
						<span class="d-none d-xxl-block">{{ item.company.email }}</span>
					</a>
				{% endif %}
			</div>

			{# activité #}
			<div class="col-1 text-center">
				{% if item.activitiesCount > 0 %}
					<span class="badge bg-success p-2">{{ item.activitiesCount }}</span>
				{% endif %}
			</div>

		</div>
	{% else %}
		<div class="row d-flex justify-content-between mt-3">
			<div class="col-12 mt-2">Pas encore de compte</div>
		</div>
	{% endfor %}
	<div class="pagination-row d-flex justify-content-center">
		{{ knp_pagination_render(pagination) }}
	</div>
	<div class="row g-0 btn-group d-flex justify-content-center btn-group-sm my-3 col-12" role="group">
		<div class="d-flex justify-content-center col-lg-6 col-12">
			<div class="btn-group btn-group-sm" role="group">
				<a class="btn btn-outline-primary" href="{{ path('app_companies') }}">
					<i class="fa-solid fa-address-book"></i>
					Sociétés</a>
				<a class="btn btn-secondary" href="{{ path('csv_export') }}">
					<i class="fa-solid fa-file-arrow-down me-1"></i>
					Télécharger en CSV</a>
				<a class="btn btn-outline-primary" href="{{ path('app_activities')}}">
					<i class="fa-solid fa-table-list me-1"></i>Activités</a>
			</div>
		</div>
	</div>
{% endblock %}
