{# form to make a new activity #}
{% macro newForm(form) %}
	{{ form_row(form.description) }}
	<div class="new-info d-flex justify-content-between">
		<div class="col-4">
			{{ form_row(form.dueDate, {'attr':{'class': 'new-dueDate mx-2'}}) }}
		</div>
		<div class="new-active" {# style="display: none;" #}>
			{{ form_row(form.isActive, { 'checked': 'checked' }) }}
		</div>
	</div>
{% endmacro newForm %}

{# form for existing activities #}
{% macro existForm(form) %}
	<div class="col-md-12 p-1">
		{{ form_row(form.description)}}
		<div id="{{ form.vars.name }}" class="info-row d-flex justify-content-between">
			<div class="col-4 my-1 m-2">{# <div id="datepicker-{{ form.vars.name }}"></div> #}
				{# {{ form_row(form.dueDate, {'type': 'hidden', 'id': 'result-' ~ form.vars.name,}) }} #}
				{{ form_row(form.dueDate, {'attr':{'class': 'mx-2'}}
			) }}
			</div>

				<div class="w-100"> {{ form_row(form.isActive)}}
			</div>
		</div>
	</div>
{% endmacro existForm %}

{% macro searchForm(form) %}
	<form class="w-50" id="activity-search-form">
		<div class="input-group me-1">
			<input type="text" class="form-control" placeholder="Recherche ..." aria-label="Recherche" oninput="searchActivities()">
			<button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">
				<i class="fa-solid fa-magnifying-glass"></i>
			</button>
		</div>
	</form>
{% endmacro searchForm %}
