<div class="my-3">
	<ul class="banner-menu mt-1">
		{% if app.user %}
			<li class="menu-inline-item">
				<a href=" {{ path('account')}}" class="link-secondary mt-1">
					<i class="fas fa-user-circle mx-2"></i>
					{{ app.user.email }}</a>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
				<li>
					<a href="{{ path('app_register') }}" class="link-secondary mt-1">
						<i class="fas fa-id-badge mx-2"></i>
						Ajouter un utilisateur</a>
				</li>
				<li>
					<a href="{{ path('accounts_index') }}" class="link-secondary mt-1">
						<i class="fas fa-users mx-2"></i>
						Voir les utilisateurs</a>
				</li>
			{% endif %}

			{# delete form################################ #}
			<li>
				<a href="#" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();" class="link-secondary mt-1">
					<i class="fas fa-sign-out-alt mx-2"></i>
					Logout</a>
			</li>
			<form id="js-logout-form" action="{{ path('app_logout') }}" method="POST" style="display: none;">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
			</form>
			{# delete form################################ #}
		{% else %}
			<li>
				<a href="{{ path('app_login') }}" class="link-secondary mt-1">
					<i class="fas fa-sign-in-alt"></i>
					Connexion</a>
			</li>
		{% endif %}
	</ul>
</div>
