<!-- Start Header Area -->
<header class="header">
	<div class="navbar-area border-bottom pb-2">

		<div class="row g-0 d-flex justify-content-center mt-1">
			<div class="col-12">
				<nav class="navbar p-1">
					<div class="d-flex justify-content-between align-items-center w-100 px-sm-2">
						<div class="logosw">
							<a class="" href="{{ path('home') }}">
								<span class="d-md-none">
									<img class="logo-vv" src="{{ asset('images/logo/vv-tny-logo-usygec.gif') }}" alt="Logo"/>
								</span>
								{# <span class="d-lg-none d-sm-block">
									<img class="logo-v" src="{{ asset('images/logo/v-tny-logo-usygec.gif') }}" alt="Logo"/>
								</span> #}
								<span class="d-none d-md-block">
									<img class="logo-std" src="{{ asset('images/logo/logo-usygec.gif') }}" alt="Logo"/>
								</span>
							</a>
						</div>
						<div class="w-100">
							{{ include('main/partials/_connexion.html.twig') }}
						</div>
					</div>
				</nav>
				<!-- navbar -->
			</div>
		</div>
		<!-- row -->
	</div>
	<!-- navbar area -->
</header>
<!-- End Header Area -->
