{% extends 'bam_base.html.twig' %}

{% block title %}Liste des sociétés
{% endblock %}

{% block content %}
	<div class="d-flex justify-content-between w-100">
		<div class="ms-2">
			{% if  app.request.query.get('name') %}
				<h1>Sociétés dont le nom contient : "{{ app.request.query.get('name') }}"</h1>
			{% elseif  app.request.query.get('category') %}
				<h1>Sociétés du type : "{{ app.request.query.get('category') }}"</h1>
			{% else %}
				<h1>Liste des sociétés</h1>
			{% endif %}
		</div>
		<div>
			<a class="btn btn-success" href="{{ path('app_companies_new') }}">
				<i class="fa-solid fa-user-plus"></i>
			</a>
		</div>
	</div>

	<table class="table mt-3">
		<thead>
			<tr>
				<td colspan="4">
					<form action="{{ path('app_companies') }}" method="GET">
						<div class="input-group mb-3">
							<input type="text" class="form-control" name="name" placeholder="Recherche par nom">
							<select id="category" name="category" class="form-select">
								<option value="">ou categories</option>
								{% for category in categories %}
									<option value="{{ category }}">{{ category }}</option>
								{% endfor %}
							</select>
							<button type="submit" class="btn btn-outline-dark">
								<i class="fa-solid fa-magnifying-glass"></i>
							</button>
						</div>
					</form>
				</td>
				<td colspan="3"></td>
			</tr>
			<tr>
				<th>Categorie</th>
				<th>
					<a href="{{ path('app_companies', { 'sort_by': 'name', 'sort_order': (sort_by == 'name' and sort_order == 'desc') ? 'asc' : 'desc' }) }}">
						Société
						{% if sort_by == 'name' %}
							{% if sort_order == 'desc' %}
								<i class="fas fa-sort-up"></i>
							{% else %}
								<i class="fas fa-sort-down"></i>
							{% endif %}
						{% else %}
							<i class="fas fa-sort"></i>
						{% endif %}
					</a>
				</th>
				<th>Téléphone</th>
				<th>Contact</th>
				<th>Portable</th>
				<th>Email</th>
				<th class="text-center">
					<a href="{{ path('app_companies', { 'sort_by': 'activitiesCount', 'sort_order': (sort_by == 'activitiesCount' and sort_order == 'desc') ? 'asc' : 'desc' }) }}">
						Activités
						{% if sort_by == 'activitiesCount' %}
							{% if sort_order == 'desc' %}
								<i class="fas fa-sort-up"></i>
							{% else %}
								<i class="fas fa-sort-down"></i>
							{% endif %}
						{% else %}
							<i class="fas fa-sort"></i>
						{% endif %}
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for item in pagination %}
				{# {{ dump(sortedCompany) }} #}
				{% set company = item.company %}
				{% set activitiesCount = item.activitiesCount %}
				<tr>
					<td>
						{{ item.company.category }}
					</td>
					<td>
						<a href="{{ path('app_companies_show', {'id': item.company.id}) }}">
							<i class="fa-solid fa-right-to-bracket me-2"></i>
							{{ item.company.name }}</a>
					</td>
					<td>{{ item.company.phone }}</td>
					<td>{{ item.company.contactFirstName }}
						{{ item.company.contactLastName }}</td>
					<td>{{ item.company.mobile }}</td>
					<td>
						<a href="mailto:{{ item.company.email }}">{{ item.company.email }}</a>
					</td>
					<td class="text-center">
						{% if item.activitiesCount > 0 %}
							<span class="badge bg-success p-2">{{ item.activitiesCount }}</span>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">Pas encore de compte</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="d-flex justify-content-center">
		{{ knp_pagination_render(pagination) }}
	</div>
	<div class="d-flex justify-content-between my-5 w-100">
		<div class="align-top">
			<div class="btn-group btn-group-sm" role="group">
				<a class="btn btn-secondary" href="{{ path('csv_export') }}">
					<i class="fa-solid fa-file-arrow-down me-1"></i>
					Télécharger en CSV</a>
				<a class="btn btn-outline-primary" href="{{ path('app_activities')}}">
					<i class="fa-solid fa-table-list me-1"></i>Activités</a>
			</div>
		</div>
	</div>
{% endblock %}
