{% extends 'bam_base.html.twig' %}

{% block title %}Modification de Activité
{% endblock %}

{% block content %}
	{% import "bam/activities/macros/forms.html.twig" as formMacros %}
		<div class="er-row row g-0 m-1">
			<div class=" d-flex justify-content-between col-12">
				<h1>Modifier :
					{{ activity.name }}
				</h1>
				<div>
					{{ include('bam/activities/_delete_form.html.twig') }}
				</div>
			</div>
			{{ form_start(form, {"method": "POST"}) }}
			{# {{ include('bam/activities/_form.html.twig', {'button_label': 'Enregistrer'}) }} #}
			{{ formMacros.existForm(form) }}
			<div class="d-flex justify-content-between my-3 w-100">
				<div class="btn-group" role="group">
					{% if company is not defined %}
						{% set company = activity.company %}
					{% endif %}
					<a class="btn btn-outline-primary" href="{{ path('app_companies_show', {'id': company.id}) }}">
						<i class="fa-solid fa-backward"></i>
						Retour</a>
					<button type="submit" class="btn btn-group btn-success">{{button_label|default('Modifier')}}</button>
				</div>
			</div>
			{{form_rest(form)}}{{form_end(form)}}</div>
	{# {{ form_widget(form._token) }} #}
{% endblock %}
