<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

	<head>
		{% block head %}
			<meta charset="utf-8"/>
			<meta http-equiv="x-ua-compatible" content="ie=edge"/>
			<meta name="description" content=""/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>
				{% block title %}{% endblock title %}
			</title>
			<link
			rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
			<!-- Place favicon.ico in the root directory -->

			{% block stylesheets %}
				{{ encore_entry_link_tags('app') }}
				<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			{% endblock stylesheets %}

		{% endblock head %}

	</head>
	<body>
		{% block body %}
			{{ include('main/partials/_message_flash.html.twig') }}
			{{ include('main/partials/_header_ezreview.html.twig') }}
			{{ include('main/partials/_preloader.html.twig') }}
			<div class="container">
				<div class="row">
					<div class="m-5 p-1">&nbsp;</div>
					<div class="row justify-content-center">
						<div class="col-lg-6  col-sm-12">
							{% block content %}{% endblock %}
						</div>
					</div>
				</div>
			</div>
			<!-- ========================= scroll-top ========================= -->
			<a href="#" class="scroll-top btn-hover">
				<i class="lni lni-chevron-up"></i>
			</a>
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
